Documentation: Secure boot v2 salt lenght (ESPTOOL-355)

Hello,
I am currently trying to sign a firmware using a custom solution instead of `espsecure.py`, and i have a few questions about signatures.

In the [official documentation](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/security/secure-boot-v2.html#signature-block-format), the signature algorithm is described as such:

> RSA-PSS Signature result (section 8.1.1 of RFC8017) of image content, computed using following PSS parameters: SHA256 hash, MFG1 function, **0 length salt**, default trailer field (0xBC).

However, in the source code of espsecure.py, we found a `32 length salt`:

https://github.com/espressif/esptool/blob/876d133717cbcc033573bcf0894b25cd7bf2cfdb/espsecure.py#L309

As the code is widely used for secure boot generation, I assume the correct salt length is 32, but I wanted to be sure :)

By the way, if anyone has clues about generating a valid signature with tools like `pkcs11-tool`, I am widely interested :p

Thanks !

Hello @Sabotaz,

I have checked and the salt length is indeed 32-bytes. It will be fixed in IDF docs, thank you!

> if anyone has clues about generating a valid signature with tools like pkcs11-tool, I am widely interested :p

Sorry, I don't have any experience with `pkcs11-tool` or other tools. Good luck with your custom implementation!

Radim